.container--Item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 310px;
}
.line{
    height: 2px;
    max-width: 1300px;
    background-color: rgb(189, 189, 189);
    justify-content: center;
    margin: 0 350px;
}
.operation{
    border: none;
    font-size: 20px;
    color: black;
    margin: 0px 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 254);
}
@media (max-width: 1200px) {
    .container--Item {
        margin: 0px 100px;
    }
    .line, .products-title {
        margin: 0 50px;
    }
    .ofertas--container2{
        margin-left: 55px;
    }
}
