*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .header--ul, .ul--left{
    height: 27px;
    font-size: 15px;
    margin-top: -2px;
}
.header {
    width: 100%;
    background-color: #f8f8f8; 
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.header--ul {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    list-style: none;
}
.ul--left {
    display: flex;
    gap: 15px; 
}
.ul--right h4 {
    margin: 0; 
    margin-bottom: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo{
    max-width: 110px;
    height: 75px;
}
.NavBarBackground {
    position: fixed;
    top: 25px;
    width: 100%;
    width: 100%;
}
.NavBarBackground{
    height: 90px;
    background-color: #007bff;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.Ul-Input{
    background-color: #007bff;
    border-radius: 8px;
    border: 2px solid white;
    padding: 0px 2px;
    font-size: 20px;
}
.Auto-Container{
    max-width: 1250px;
    display: flex;
    margin: auto;
}
.Auto-Container2{
    display: flex;
    margin: auto;
}
.NavBar-Left{
    display: flex;
    align-items: center;
}
.tittle{
    font-size: 45px;
    margin-left: 10px;
    color: rgb(250, 250, 249);
    text-decoration: none;
    font-family: 'Impact', sans-serif;
}
.NavBar-Right, .a--ofertas{
    color: rgb(229, 227, 227);
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}
.NavBar-Right:hover{
    color: grey;
}
.a--ofertas:hover{
    color: grey;
}
.NavBar-Ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.carrito-img{
    max-width: 80px;
}
.ContainerCategories{
    margin-top: 115px;
    display: flex;
    background-color: #dfe0e4;
    width: 100%;
    height: 45px;
}
.Categories{
    display: flex;
    list-style: none;
}
div ul li{
    margin-left: 15px;
    cursor: pointer;
}
.Categories-h4{
    color: #a73991;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.Categories-li{
    font-size: 20px;
    color: rgb(213, 213, 213);
    text-decoration: none;
}
.header--ul{
    color: #54c4c2;
}
.ul--right, .a--ofertas, .Categories-li, .Categories-h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.button-Carrito{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
@media (max-width: 926px) {
    .Ul-Input{
        display: none;
    }
}
@media (max-width: 670px) {
    .NavBar-Right, .a--ofertas{
        font-size: 15px;
        margin: 0px 5px;
        margin-right: 0;
        margin-left: 0;
    }
    .tittle{
        font-size: 33px;
        margin-left: 0;
    }
    .Categories{
        display: flex;
        flex-direction: column;
    }
    .ContainerCategories{
    height: 100px;
    }
}
@media (max-width: 541px) {
    .Auto-Container{
        display: flex;
        flex-direction: column;
    }
    .NavBarBackground{
        height: 150px;
    }
    .ContainerCategories{
        margin-top: 180px;
    }
}